.pc { display:block; }
.mb { display:none; }

@media only screen and (max-width : 600px){
  .pc { display:none; }
  .mb { display:block; }
}

.box {
  position     : relative;
  margin       : auto;
  width        : 40px;
  height       : 40px;
  background   : #ffffff;
  border-radius: 5px;
}

.box span {
  position     : absolute;
  display      : inline-block;
  top          : 50%;
  left         : 50%;
  padding      : 3px;
  color        : #333;
  transform    : translate(-50%,-50%);
  font-size    : 12pt;
}

.diceQtyBox{
  position     : relative;
  width        : 80px;
  height       : 40px;
  background   : rgba(0, 0, 0, 0)
}

.diceQtyBox h5 {
  position     : absolute;
  display      : inline-block;
  top          : 50%;
  left         : 50%;
  color        : #ffffff;
  transform    : translate(-50%,-50%);
}

.marker {
  position     : relative;
  top          : 16px;
  margin       : auto;
  width        : 120px;
  height       : 2px;
  background   : #ffffff;
}

.marker h5 {
  position     : absolute;
  display      : inline-block;
  background   : rgba(255, 255, 255, 0);
  top          : 50%;
  left         : 50%;
  padding      : 3px;
  transform    : translate(-50%, -100%);
  white-space  : nowrap;
}